<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293267545565-uc1nvafdm4mfg6p6pu7p9l087dc97von.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293267545565-uc1nvafdm4mfg6p6pu7p9l087dc97von</string>
	<key>API_KEY</key>
	<string>AIzaSyBA16riarO1_mNvFDxgek4LXcHhlzEsCwk</string>
	<key>GCM_SENDER_ID</key>
	<string>293267545565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kominato.swift-trouble-form</string>
	<key>PROJECT_ID</key>
	<string>swift-trouble-form</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-trouble-form.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293267545565:ios:fe709a2402597002f42a34</string>
</dict>
</plist>